In [85]:
#Importing libraries
import pandas as pd
import zipfile
import kaggle

In [86]:
#downloading the londonbike sharing dataset using Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [87]:
#extracting csv file from the downloaded zip file from Kaggle
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [88]:
#reading the csv file as a pandas dataframe
dataset = pd.read_csv('london_merged.csv')

In [89]:
#exploring dataset
dataset.head()
# dataset.info()
# dataset.shape()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [90]:
#unique counts in weather_code column
dataset.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [91]:
#unique counts in season column
dataset.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [92]:
#renaming columns

col_dict = {
    'timestamp' : 'time',
    'cnt' : 'count',
    't1':'temp_real_c',
    't2':'temp_feelslike_c',
    'hum':'humidity%',
    'wind_speed':'wind_spd_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

dataset.rename(col_dict, axis = 1,  inplace = True)

In [93]:
dataset['humidity%'] = dataset['humidity%'] / 100

In [94]:
#Creating season dictionary to categorize the integers (0-3) into actual seasons
dict_season = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'fall',
    '3.0':'winter'
}

#Creating weather code dictionary to categorize the integers into actual weather conidtions
dict_weather = {
    '1.0':'Clear',
    '2.0':'Scatter Clouds',
    '3.0':'Broken Clouds',
    '4.0':'Cloudy',
    '7.0':'Light Rain',
    '10.0':'Thunderstorm Rain',
    '26.0':'Snowfall',
    '94.0':'Freezing Fog'
}

In [95]:
#Changing season columns datatype to string
dataset['season'] = dataset['season'].astype('str')
#Categorizing the season values to actual seasons
dataset['season'] = dataset['season'].map(dict_season)

#Changing weather columns datatype to string
dataset['weather'] = dataset['weather'].astype('str')
#Categorizing the weather values to actual weathers
dataset['weather'] = dataset['weather'].map(dict_weather)

In [96]:
dataset.head()

,time,count,temp_real_c,temp_feelslike_c,humidity%,wind_spd_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [97]:
#Export to excel
dataset.to_excel('londonbikes_dataset_cleaned.xlsx',sheet_name = 'Data')